@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    transition: .3s linear;
    font-size: 10px;
}
:root{
    --black: #333;
    --black2: #444;
    --white: #eee;
    --white2: #ddd;
    --main-clr: #2199f3;
}
.light{
    --black : #fff;
    --black2 : #eee;
    --white : #333;
    --white2 : #444;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}
body{
    background: var(--black);
    color: var(--white);
}
a{
    text-decoration: none;
}
p{
    font-size: 1.7rem;
    line-height: 2.5rem;
    padding-top: .5rem;
    color: var(--white2);
}
h2{
    font-size: 4rem;
    line-height: 5rem;
    color: var(--white2);
}

/* reusable classes */
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    font-size: 2rem;
}
.container{
    max-width: 1080px;
    margin: auto;
    width: 100%;
    padding: 3rem;
}
.btn{
    position: relative;
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    background: var(--white2);
    color: var(--black2);
    font-weight: 700;
    letter-spacing: 1px;
    margin: 2rem auto;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--main-clr);
    color: var(--white2);
}
.light .btn:hover{
    background-color: var(--white);
    color: var(--black2);
}
.heading{
    font-size: 4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--white2);
    text-align: center;
    margin: 3rem auto;
    font-weight: 700;
    opacity: 0.7;
}


/* header section */
header{
    position: fixed;
    top: 0px; left: 0;
    width: 100%;
    background: var(--black2);
    height: 6rem;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
#logo{
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#toggle-btn{
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    color: var(--white2);
    font-size: 2rem ;
    border-radius: 50%;
}
#toggle-btn:hover{
    background-color: var(--white2);
    color: var(--black2);
}
.bx-moon{
    transform: rotate(360deg);
}

/* home section */
#home{
    min-height: 600px;
    flex-direction: column;
    padding: 5rem ;
    margin-top: 5rem;
}
#home img{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 3rem;
}
h4{
    position: relative;
    display: flex;
    font-size: 2rem;
    color: var(--white2);
}
#home h4::before,
#home h4::after{
    content: '';
    position: absolute;
    top: 50%; 
    transform: translate(-50%);
    width: 2rem;
    height: .3rem;
    background-color: var(--white2);
}
#home h4::before{
    left: -1.5rem;
}
#home h4::after{
    right: -3.5rem;
}
#home h2 span{
    font-size: 4rem;
    line-height: 6rem;
    color: var(--white);
}
#home p {
    text-align: center;
}

.social{
    display: flex;
    column-gap: 1rem;
}
.social a{
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background: rgba(255,255,255,0.1);
    margin: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    transition: .2s linear;    
}
.social a:hover{
    background: var(--main-clr);
    color: var(--white);
}
.light .social a{
    background: rgba(0,0,0,.05);
}
.light .social a:hover{
    background: var(--white2);
    color: var(--black2);
}
/* about section */
.about-content{
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.about-text{
    margin-top: 2rem;
}
.Sphere{
    color: var(--main-clr);
}
.tagcloud{
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 3rem;
}

/* project section  */
 .project-content{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.project-box{
    position: relative;
    width: 100%;
    height: 30rem;
    border-radius: .5rem;
    overflow: hidden;
    display: none;
}
.project-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.project-overlay{
    position: absolute;
    top: -150%;left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: rgba(0,0,0,.35);
    transition: .1s linear;
}
.project-overlay h2{
    line-height: 3rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin:  1.5rem;
    text-transform: capitalize;
    color: white;
}
.project-overlay .bx{
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--main-clr);
    color: white;
    border-radius: .5rem;
}
.project-box:hover .project-overlay{
    top: 0;
} 
.project-box:nth-child(1),
.project-box:nth-child(2),
.project-box:nth-child(3){
    display: inline-block;
}
#load-more{
    grid-column-start: 1;
    grid-column-end: 4;
}

/* contact */
.contact{
    padding-bottom: 13rem;
}
.contact-form{
    max-width: 60rem;
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 1rem;
}
.contact-form input,.contact-form textarea{
    border: none;outline: none;
    font-size: 1.5rem;
    padding: 1.5rem;
    color: var(--white);
    background: var(--black2);
    border-radius: .5rem;
    resize: none;
}
 #send-btn{
border: none; 
}

/*bottom navigation*/
#bottom-nav{
    position: fixed;
    z-index: 10;
    bottom: 4rem;
    width: 32rem;
    left: 0;right: 0;
    margin: 0 auto;
    border-radius: 1rem;
    height: 4.25rem;
    padding: 1rem 3rem;
    justify-content: space-around;
    background-color: rgba(255,255,255,.4);
    backdrop-filter: blur(5px);     
}
.links{
    opacity: .8;
    color: var(--black2);
}
.nav-link{
    font-size: 2rem;
    padding: .5rem;
}
.active{
    background-color: var(--black2);
    border-radius: 50%;
    padding: .25rem;
    color: var(--white2);
    opacity: 1;
}
.light #bottom-nav{
    background-color: rgba(0,0,0,.4);
}

/*scroll to top*/
.scroll-top{
    z-index: 10;
    right: 3rem;
    position: fixed;
    bottom: -10rem;
    opacity: .4;
    transition: .5s;
}
.scroll-top .bx{
    width: 3rem;
    height: 3rem;
    background: var(--white2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black2);
    transition: 0s linear;  
}
.scroll-top-active{
    bottom: 10rem;
}
.scroll-top:hover{
    opacity: 1;
}


